name: Release

on:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  goreleaser:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: go.mod
          cache: false
        id: go

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_container_image:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false

      - name: Log in to the Github Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container for image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: true
          tags: |
            ghcr.io/nbisweden/sdafs:${{ github.ref_name }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            org.opencontainers.image.revision=${{ github.sha }}

  bump_image_reference:
    name: Update deploy contents to reference the image for the latest release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: true

      - name: Fix image reference
        run: >
          sed -i -e
          "s,image: ghcr.io/nbisweden/sdafs:.*,image: ghcr.io/nbisweden/sdafs:${GITHUB_REF_NAME},"
          deploy/csi-sdafs.yaml

      - name: Create pull request
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          branch=image_bump_${GITHUB_REF_NAME}
          git checkout -b "$branch"
          git config user.email "sdafs_contact@soua.net"
          git config user.name "Automatic update"
          git add deploy/csi-sdafs.yaml
          git commit -m "Bump image reference for release ${GITHUB_REF_NAME}"
          git push origin "$branch"
          gh pr create --title "Bump image for release ${GITHUB_REF_NAME}" \
            --body "Use latest release in deployment files"
