name: Golang tests

on:
  push:
    paths:
      - "**.go"

permissions: {}

jobs:
  test:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: go.mod
        id: go

      - name: Build
        run: go build -v ./...

      - name: Run test and annotate
        uses: robherley/go-test-action@b19f6aadabfb1ad85079065b21aa2af132466468
