name: Golang tests

on:
  push:
    paths:
      - "**.go"

permissions: {}

jobs:
  test:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Get fuse bindings
        run: apt update && apt install --yes libfuse-dev

      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: go.mod
        id: go

      - name: Build
        run: go build -v ./...

      - name: Run test and annotate
        uses: robherley/go-test-action@42a1975c97156330b5126c2f35ef0fb78c4c7154

      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: false
          tags: |
            ghcr.io/nbisweden/sdafs:${{ github.ref_name }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            org.opencontainers.image.revision=${{ github.sha }}
